:root {
    --trackColorEmpty: #AAA;
    --trackColorFill: dodgerblue; 
    --thumbColor: #fff;
    --sliderScale: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none; 
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    width: 95%;
    max-width: 500px;
    transform: translateY(3px);
}

.slider::-webkit-slider-runnable-track {
    height: var(--sliderScale);
    background: var(--trackColorEmpty);
    border-radius: 16px;
}

.slider::-moz-range-track {
    height: var(--sliderScale);
    background: var(--trackColorEmpty);
    border-radius: 16px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: var(--sliderScale);
    width: var(--sliderScale);
    background-color: var(--thumbColor);
    border-radius: 50%;
    border: 2px solid var(--trackColorFill);
    box-shadow: -407px 0 0 400px var(--trackColorFill);
}

.slider::-moz-range-thumb {
    height: var(--sliderScale);
    width: var(--sliderScale);
    background-color: var(--thumbColor);
    border-radius: 50%;
    border: 1px solid var(--trackColorFill);
    box-shadow: -407px 0 0 400px var(--trackColorFill);
}